.gitattributes export-ignore
.gitignore export-ignore
.gitreview export-ignore
composer.json export-ignore
.phan/ export-ignore
.phpcs.xml export-ignore
phpunit.bootstrap.php export-ignore
phpunit.xml.dist export-ignore
TestHelper.php export-ignore
utils/gen-changelog.sh export-ignore
MediaWiki/Tests export-ignore
