<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		 backupGlobals="true"
		 colors="false"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 bootstrap="./phpunit.bootstrap.php">
	<testsuites>
		<testsuite name="phpcs/MediaWiki">
			<file>./MediaWiki/Tests/MediaWikiStandardTest.php</file>
			<file>./MediaWiki/Tests/ExtensionInfoTest.php</file>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">MediaWiki/Sniffs/</directory>
		</include>
	</coverage>
</phpunit>
